@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.volkhov {
  font-family: "Volkhov", sans-serif;
}

.shad:hover {
  box-shadow: 0px 8px 7px -6px rgba(0, 0, 0, 0.5);
}
.shads {
  box-shadow: 0px 8px 7px -6px rgba(0, 0, 0, 0.5);
}

.shad1 {
  box-shadow: 0px 8px 7px -6px rgba(0, 0, 0, 0.5);
}


.shadblack {
  box-shadow: 10px 50px 295px -41px rgba(0, 0, 0, 0.6);
}

.shadblue {
  box-shadow: 60px -75px 300px -12px rgba(89, 176, 230, 0.465);
}

.shadbnb {
  box-shadow: -4px 36px 95px -18px rgba(0,0,0,0.27);  
}

.shadi{
  box-shadow: 0px 4px 54px -14px rgba(0,0,0,0.55);
}

.custom-button{
  transition: all 1.5s;
  background: transparent;
}

.custom-button:hover{
  background: linear-gradient(to right, #4250cb, #6750db, #5177e8);
  background-position: left;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 20px!important;
}

.swiper-pagination-bullet-active {

  background-color: #14183E !important;
  width: 12px !important;
  height: 12px !important; 
  
}

.swiper-pagination {
  display: flex !important;
  align-items: center; 
  padding-left: 15px;
}

.shad4swiper{
  box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.63);
}

.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar-open {
  transform: translateX(0);
}

.cswiper-pagination {
  display: flex ;
  align-items: center !important; 
 justify-content: center !important;
  
}
  
/* .sectionSW
.sectionBody{
  position: relative;
  height: 100%;
}

.sectionBody{
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
